<h3 class="modal-tittle">CREATE NEW CUSTOMER</h3>
<div style="height: 10px;">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
<mat-dialog-content>
    <form [formGroup]="customerFormGroup" style="display: flex; flex-direction: column;">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="ORG Entity Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput placeholder="ORG Entity Code" formControlName="description" required>
        </mat-form-field>
        <section>
            <h3>Customer Type</h3>
            <mat-button-toggle-group formControlName="type" [hideSingleSelectionIndicator]="false">
                <mat-button-toggle value="PRODUCT OWNER">Product owner</mat-button-toggle>
                <mat-button-toggle value="ORG ENTITY">Org Entity</mat-button-toggle>
            </mat-button-toggle-group>
        </section>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton (click)="onNoClick()">Cancel</button>
    <button matButton (click)="createCustomer()" [disabled]="customerFormGroup.invalid">Create</button>
</mat-dialog-actions>