.breadcrumb-toolbar {
  font-size: 14px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.breadcrumb-link {
  color: rgb(40, 40, 40);
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-current {
  color: #e0e0e0;
  font-weight: bold;
}