.filter-input {
  width: 500px;
  height: 30px;
  padding: 0.5rem 1rem;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #1e3a8a;
  background-color: #ffffff;
}

.filter-input:focus {
  border-color: #1e3a8a; /* Cambia este color por el que prefieras */
  outline: none;
}
