<app-spinner [loading]="loading"></app-spinner>

@if(!loading && !displaySummay){
<mat-stepper class="stepper" [linear]="isLinear" #stepper>
    <mat-step label="Select Entities">
        @if (customers.length) {
        <app-service-entities-form [customers]="customers" [orgEntities]="orgEntities" [applications]="applications"
            [oidcProviders]="oidcProvider" (customerChanged)="selectCustomer($event)" (oesChanged)="selectOe($event)"
            (applicationChanged)="selectApplication($event)"
            (instrospecionEndpointChanged)="selectIntrospection($event)"
            (storageRegionChanged)="selectStorageRegion($event)" (oidcProvidersChanged)="selectOidcProvider($event)">
        </app-service-entities-form>
        }
    </mat-step>

    <mat-step label="Role Configuration" style="display: flex;">

        @if(selectedApplication?.applicationFlows?.length && roles.length){
        <app-loaded-elements [total]="selectedApplication.applicationFlows.length" [loaded]="selectedRoles.length"
            label="Flow roles configured">
        </app-loaded-elements>

        <app-roles-config-table (addRoleEventEmmiter)="addRole($event)"
            [applicationFlows]="selectedApplication.applicationFlows" [roles]="roles">
        </app-roles-config-table>
        }
    </mat-step>

    <mat-step label="Configure flows" style="display: flex;">

        <div class="layout-container">
            <div class="sidebar-card-container">
                @for (flow of selectedApplication.applicationFlows; track flow) {
                <div class="mini-card" [ngClass]="{ 'selected-card': flow.id === selectedFlow?.id }"
                    (click)="selectFlow(flow)">
                    <h4 class="flow-code">{{ flow.flowCode }}</h4>
                    <p>{{ flow.description }}</p>
                </div>
                }
            </div>

            <div style="display: flex; flex-direction: column; flex: 1; ">
                <h4 class="form-title">Configure selected flow</h4>

                <div class="form-header">
                    <form [formGroup]="fileTypesForm" class="file-form">

                        <mat-form-field appearance="outline">
                            <mat-label>Action</mat-label>
                            <mat-select formControlName="actionId" required>
                                @for (food of action; track food) {
                                <mat-option [value]="food.id">{{ food.name }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="type" required>
                                @for (file of fileTypes; track file) {
                                <mat-option [value]="file">{{ file.description }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>File size</mat-label>
                            <input matInput placeholder="Application description" formControlName="size" required>
                        </mat-form-field>
                        <button style="color: #1e88e5;" [disabled]="addButonDisabled" (click)="addConfiguration()"
                            mat-icon-button>
                            <mat-icon>data_saver_on</mat-icon>
                        </button>
                    </form>
                    <div style="height: 50px;">
                        <button mat-icon-button color="warn" (click)="paste()" *ngIf="clipBoard">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="table-container">
                    <table class="file-table">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Type</th>
                                <th>File Size</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (config of configurations; track config) {
                            @if (config.flowId === selectedFlow.id) {
                            <tr>
                                <td>{{ config.action }}</td>
                                <td>{{ config.type.description }}</td>
                                <td>{{ config.size }}</td>
                                <td class="actions">
                                    <button mat-icon-button color="primary" (click)="copyConfiguration(config)">
                                        <mat-icon>content_copy</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn"
                                        (click)="deleteConfiguration(configurations.indexOf(config))">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                            }}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </mat-step>

    <mat-step label="Onboard Application">
        <button matButton="filled"
            style="display: flex; margin-left: auto; margin-top: 10px;  border-radius: 5px; height: 25px;"
            (click)="onboardApplication()">
            <mat-icon>post_add</mat-icon>
            Onboard Application
        </button>

        <h2 class="section-title">Entities Sumary</h2>
        <div class="entity-card-grid">
            <div class="entity-card">
                <span class="label">OrgEntity</span>
                <span class="value">{{ serviceEntities.orgEntity.name }}</span>
            </div>
            <div class="entity-card">
                <span class="label">Application</span>
                <span class="value">{{ serviceEntities.application.name }}</span>
            </div>
            <div class="entity-card">
                <span class="label">OIDC Provider</span>
                <span class="value">{{ serviceEntities.oidcProvider }}</span>
            </div>
            <div class="entity-card">
                <span class="label">Introspection Endpoint</span>
                <span class="value">{{ serviceEntities.introspectionUrl }}</span>
            </div>
            <div class="entity-card">
                <span class="label">Storage Region</span>
                <span class="value">{{ serviceEntities.storageRegion }}</span>
            </div>
            <div class="entity-card">
                <span class="label">Status</span>
                <span class="value">{{ serviceEntities.locked }}</span>
            </div>
        </div>
        <h2 class="section-title">Flows Configuration</h2>

        <table class="file-table">
            <thead>
                <tr>
                    <th>Flow</th>
                    <th>Type</th>
                    <th>File Size</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (group of groupedConfigurations; track group) {
                @for (config of group.configs; track config) {
                <tr>
                    <td>{{ group.flowName }}</td>
                    <td>{{ config.type }}</td>
                    <td>{{ config.size }}</td>
                    <td class="actions">
                        <button mat-icon-button (click)="deleteConfiguration(configurations.indexOf(config))">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                }}
            </tbody>
        </table>

    </mat-step>
</mat-stepper>
}

@if(displaySummay && !loading){
<div class="summary-wrapper">
    <label class="summary-label">Consumer Summary</label>
    <div class="summary-box">
        <p><strong>Org Entity Name:</strong> {{summary.orgEntity.name}}</p>
        <p><strong>Customer Name:</strong> {{summary.customer.name}}</p>
        <p><strong>Application Name:</strong>{{summary.application.name}}5</p>
        <p><strong>Consumer Key:</strong>{{summary.consumerKey}}</p>
        <p><strong>OIDC Introspect URI:</strong> {{summary.oidcIntrospectUri}}</p>
        <p><strong>Compliance Region:</strong> {{summary.complianceRegion}}</p>
        <p><strong>OIDC Provider:</strong> {{summary.oidcProvider}}</p>
        <p><strong>Active:</strong> {{summary.active}}</p>
        <p><strong>Locked:</strong> {{summary.locked}}</p>
        <p><strong>Application Flows:</strong>
            @for (flow of summary.application.applicationFlows; track flow) {
            {{flow.flowCode}}
            }
        </p>
    </div>
    <button matButton style="display: flex; margin-left: auto; margin-top: 10px;  border-radius: 5px; height: 25px;"
        (click)="navigateToAdmin()">
        Go to admin page
    </button>
</div>
}