<div class="container">
    <app-filter (filterChanged)="onFilterChanged($event)" [loading]="loading"
        placeHolder="Filter Customers..."></app-filter>

    <div class="actions">
        <button [disabled]="loading" [disabled]="loading" (click)="getCustomersList()" matButton color="neutral">
            <mat-icon>refresh</mat-icon>
            Update
        </button>
        <button [routerLink]="createCustomerRouterLink" matButton color="filled">
            Create Customer
        </button>
    </div>
    @if (customers && !loading) {
    <div class="table-wrapper">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of filteredCustomers; trackBy: trackCustomer">
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.description }}</td>
                    <td>
                        <button class="w-100" matButton (click)="customerDetails(customer)"
                            aria-label="Example icon button with a vertical three dot icon">
                            Customer details
                            <mat-icon>info</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    }
</div>

<app-loader-component [loading]="loading"></app-loader-component>