<form [formGroup]="applicationConfigFormGroup" class="form">
    <div class="section">
        <div class="select-wrapper">
            <label class="select-label">Select customer</label>
            <select formControlName="customer" class="modern-select">
                <option value="">Select an customer</option>
                @for (option of customers; track option) {
                <option [ngValue]="option">{{ option.name }}</option>
                }
            </select>
        </div>
        <div class="select-wrapper">
            <label class="select-label">Organization Entities</label>
            <select formControlName="orgEntity" class="modern-select">
                <option value="">Select an oe</option>
                @for (option of orgEntities; track option) {
                <option [ngValue]="option">{{ option.name }}</option>
                }
            </select>
        </div>
        <div class="select-wrapper">
            <label class="select-label">Applications</label>
            <select formControlName="application" class="modern-select">
                <option value="">Select an application</option>
                @for (application of applications; track application) {
                <option [ngValue]="application">{{ application.name }}</option>
                }
            </select>
        </div>

        <div class="select-wrapper">
            <label class="select-label">OIDC Providers</label>
            <select formControlName="oidcProvider" class="modern-select">
                <option value="">Select an oidcProvider</option>
                @for (oidcProvider of oidcProviders; track oidcProvider) {
                <option [ngValue]="oidcProvider">{{ oidcProvider }}</option>
                }
            </select>
        </div>

        <div class="input-wrapper">
            <label class="input-label">Client Id</label>
            <input formControlName="clientId" type="text" class="modern-input" placeholder="Enter Client Id" />
        </div>

        @if (isIdpSelected) {
        <div class="input-wrapper">
            <label class="input-label">Client Secret</label>
            <input formControlName="clientSecret" type="text" class="modern-input" placeholder="Enter Client Secret" />
        </div>
        }

        <div class="input-wrapper">
            <label class="input-label">Introspection Endpoint</label>
            <input [value]="instros" formControlName="introspectionUrl" type="text" class="modern-input"
                placeholder="Introspection enpoints" />
        </div>

        <div class="select-wrapper">
            <label class="select-label">Storege Region</label>
            <select formControlName="storageRegion" class="modern-select">
                <option value="">Select storage region</option>
                @for (region of storegeRegions; track region) {
                <option [ngValue]="region.regionCode">{{ region.name }}</option>
                }
            </select>
        </div>

        <div class="toggle-wrapper">
            <div class="toggle-group">
                <label for="activeToggle">Active</label>
                <div class="custom-toggle">
                    <mat-slide-toggle formControlName="activated" labelPosition="before"></mat-slide-toggle>
                </div>
            </div>

            <div class="toggle-group">
                <label for="lockedToggle">Locked</label>
                <div class="custom-toggle">
                    <mat-slide-toggle formControlName="locked" labelPosition="before"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
</form>