<app-nav-bar></app-nav-bar>
<div *ngIf="applications && !loading">
    <div class="page-header">
        <app-filter (filterChanged)="onFilterChanged($event)" [loading]="loading"
            placeHolder="Filter Applications..."></app-filter>
        <button routerLink="/create-application" matButton="filled" class="application-button">
            <mat-icon>post_add</mat-icon>
            Create Application
        </button>
    </div>

    <div class="table-wrapper">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let application of filtredApplications; trackBy: trackApplication">
                    <td>{{ application.name }}</td>
                    <td>{{ application.description }}</td>
                    <td>
                        <button matIconButton aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-loader-component [loading]="loading"></app-loader-component>