.example-card {
  max-width:200px;
  height: 100px;
  background-color: white;
    background-color: #006192;;

}
.application-card {
  width:420px;
  color: #006192;
  background-color: white;
}

.dist-button{
  display: flex; justify-content: start;
}


.page-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  
  align-items: center;
  justify-content: center;
  gap: 20px;
}

