<nav class="nav-bar">
    <div class="example-header-image">
        <img src="https://ngx-ndbx.frameworks.allianz.io/assets/logos/allianz_logo_with_name.svg" alt="Allianz logo">
    </div>
    <button [routerLink]="homeRouterLink" [ngClass]="{ 'active': isActive('/home') }" class="nav-button">
        Home
    </button>
    @if (isAdminUser()) {
    <button [routerLink]="adminRouterLink" [ngClass]="{ 'active': isActive('/admin-distributive') }"
        class="nav-button">
        Administrator
    </button>
    }
    <button [routerLink]="billingRouterLink" class="nav-button" [ngClass]="{ 'active': isActive('/billing') }">
        Billing Details
    </button>
    @if(isAdminUser()){
    <app-options-select style="margin-left: auto;" [selected]="selectedEnvironment" label=""
        [innerLabel]="selectedEnvironment.name" [options]="envirionmentsOptions"
        (selectionChange)="setEnvironment($event)">
    </app-options-select>
    }
    <button matIconButton class="user-button " aria-label="User button" (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</nav>