/* nav-bar.component.css */
.nav-bar {
  display: flex;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.card-button {
  background-color: white;
  width: 70px;
  color: #007BFF;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.nav-button {
  background-color: white;
  color: #007BFF;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.nav-button:hover {
  background-color: #007bff60;
}

.nav-button.active {
  background-color: #007bff60;
  /* verde para botón activo */
  font-weight: bold;
}

.nav-button.back {
  padding: 2px 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: #007BFF solid 1px;
  color: #007BFF;
}

.example-header-image {
  width: 70px;
}

.user-button {
  margin-left: auto;
  background-color: white;
  color: #007BFF;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-disabled {
  background-color: #ffffff;     /* gris claro */
  color: #888888;                /* texto gris medio */
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;         /* evita clics */
}
