.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    /* verde éxito */
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    z-index: 1000;
    animation: fadeOut 10s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.success {
    border-left: 6px solid #218838;
}

.danger {
    border-left: 6px solid #882121;
}

.warning {
    border-left: 6px solid #c5bf23;
}