<app-nav-bar></app-nav-bar>
<div class="buttons-container">
    <button matButton style="border-radius: 0; height: 30px;">Cancel</button>
    <button matButton="filled" style="border-radius: 0; height: 30px;">Create</button>
</div>

<div class="container">
    <form [formGroup]="workflowForm" style="padding: 20px; display:flex; flex-direction: column;">
        <h3 class="form-tittle">Workflow Details</h3>
        <div style="display: flex; align-items: center; ">
            <mat-form-field style="margin-left: 20px; height: 70px;">
                <mat-label>Code</mat-label>
                <input matInput placeholder="Flow Code" formControlName="name" required>
            </mat-form-field>
            <mat-form-field style="margin-left: 20px; height: 70px">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Flow Description" formControlName="description" required>
            </mat-form-field>
        </div>
    </form>

    <form [formGroup]="fileTypesForm" style="padding: 20px; display:flex; flex-direction: column;">
        <h3 class="form-tittle">Action Files</h3>
        <div style="display: flex; align-items: center;">
            <mat-form-field style="margin-left: 20px; height: 70px">
                <mat-label>Action</mat-label>
                <mat-select formControlName="action" required>
                    @for (food of action; track food) {
                    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-left: 20px; height: 70px">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" required>
                    @for (food of foods; track food) {
                    <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <mat-form-field style="margin-left: 20px; height: 70px">
                <mat-label>File size</mat-label>
                <input matInput placeholder="Application description" formControlName="size" required>
            </mat-form-field>
            <button matButton matMiniFab style="margin-left: 30px;" (click)="addAcction()">
                <mat-icon>post_add</mat-icon>
            </button>
        </div>
    </form>
</div>


<div class="container2">
    @for (file of fileActions; track file) {
    <div
        style="padding: 10px; display: flex; justify-content: space-between; align-items: center; height: 20px; margin-top: 10px; background-color: white; width: 800px;">
        <div style="display: flex; align-items: centery;width: 50%;">
            <h5 style="margin-right: auto;">{{file.action}}</h5>
            <h5 style="margin-left: auto; margin-right: auto;">{{file.type}}</h5>
            <h5 style="margin-left: auto;">{{file.size}}</h5>
        </div>
        <div>
            <button matButton matMiniFab style="margin-left: 30px;" (click)="deleteAction(file)">
                <mat-icon color="danger">delete</mat-icon>
            </button>
        </div>
    </div>
    }
</div>