.example-card {
    background-color: white;
    box-shadow: none;
    max-width: 400px;
    padding: 15px;
    border-radius: 5px;
    margin: auto;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.example-full-width {
    width: 100%;
}

.example-header-image {
    width: 100px;
}

.card-tittle {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin-top: 10px;
}

.login-button{
    margin-left: auto; 
    width: 50%
}