.example-card {
    max-width: 400px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
    margin: auto;
    border: none;
}

.example-full-width {
    width: 100%;
}

.example-header-image {
    width: 100px;
}

.card-tittle {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin-top: 10px;
}