<app-nav-bar></app-nav-bar>

<div *ngIf="oes && !loading">
    <div class="page-header">
        <app-filter 
        (filterChanged)="onFilterChanged($event)" 
        [loading]="loading"
        placeHolder="Filter Organization Entities..."
        ></app-filter>
        <button routerLink="/create-org-entity" matButton="filled" class="oes-button">
            <mat-icon>post_add</mat-icon>
            Create Organization Entity
        </button>
    </div>

    <div class="table-wrapper">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Debtor</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of filtredOes; trackBy: trackCustomer">
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.code }}</td>
                    <td>{{ customer.debtor }}</td>
                    <td>
                        <button matIconButton aria-label="Example icon button with a vertical three dot icon">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<app-loader-component [loading]="loading"></app-loader-component>